@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

body {
    font-family: 'Space Mono', monospace;
    font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
    line-height: 1.5;
    background: #dde9f3;
    padding-bottom: 3rem;
}
a {
    color: #2dcafa;
    text-decoration: none;
}
a:hover {
    color: #2dcafa;
    text-decoration: underline;
}
h1, h2, h3, h4 {
    color: #f46190;
}
li {
    margin-bottom: 1em;
}
h2 {
    margin-top: 3em;
}
.header {
    background: #f46190;
    padding: 2rem 0;
    margin-bottom: 4rem;
}
.logo {
    margin: 2rem auto;
    padding: 292px 0 0 292px;
    height: 0;
    width: 0;
    background: url(logo.png) 0 0 no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}
.l-width--design {
    max-width: 42rem;
    margin: 0 auto;
    padding: 0 1rem;
}
