@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

body {
    font-family: 'Space Mono', monospace;
    font-size: calc(0.5rem + 0.75vw);
}
a {
    color: #2dcafa;
    text-decoration: none;
}
a:hover {
    color: #2dcafa;
    text-decoration: underline;
}
h1, h2, h3, h4 {
    color: #f46190;
}
li {
    margin-bottom: 1em;
}
h2 {
    margin-top: 3em;
}
.logo {
    margin: 2rem auto;
    padding: 292px 0 0 292px;
    height: 0;
    width: 0;
    background: url(logo.png) 0 0 no-repeat;
    overflow: hidden;
}
.l-width--design {
    max-width: 42rem;
    margin: 0 auto;
    padding: 0 1rem;
}
